/* Reset CSS */
ul, ol{
	list-style:none;
	margin:0;
	padding-left:0;
}
a{
	text-decoration:none;
}
p{
	margin:0;
}
body{
	font-family: Lato,Helvetica,sans-serif;
}
/*body{
	overflow-x:hidden;
	margin:0 auto;
	background-color:#fcfdfd;
	width:100%;
}*/
body>*,
section {  
	/*outline:2px solid red;*/
}

section{
	padding:20px 50px;
}

/* Reset CSS */


/* STATES */
.btn{
	border:none;
	padding: 10px 30px;
	border-radius:5px;
	text-transform:uppercase;
	color:white;
}
	.btn:hover{
		cursor:pointer;
	}
	.btn--signup{
		background-color:#00b4ff;
		padding: 10px 30px !important;
		opacity:1 !important;
	}
	.btn--submit{
		background-color:#f88379;
		height: 50px;
	}
	.btn--contact{
		background-color:#00b4ff;
	}
	.btn--app{
		background-color:black;
		color:white;
		display:inline;
	}
/* STATES */


header{
	font-size:11px;
	position: absolute;
    top: 0;
    left:0;
    right:0;
    max-width: 1180px;
    margin:0 auto;
	background-color:transparent;
	z-index:2;
    padding: 20px 50px;
    /*display:flex;*/
}
	.headerlogo{
		/*float:left;*/
	}
		.headerlogo h2{
			margin:0;
			display:inline;
		}
	.headernav{
		text-align:right;
		float:right;
		margin-top:-10px;
	}
		.headernav__burgermenu{
			display:none;
		}
			.headernav__burgermenu span{
				height: 2px;
			    width: 20px;
			    background-color: white;
			    display: block;
			    margin: 5px 0;
			}
			.headernav__menu__item{
				display:inline-block;
				text-transform:uppercase;
				/*padding-left:10px;*/
				color:#b1b3c4;
			}
			.headernav__menu__item--submenu{
				position:relative;
				padding: 20px;
			}
			.headernav__menu__item--signup{
				position:relative;
				margin-right:0;

			}
			.headernav__menu__item--signup::after{
				content:"";
				background-image:url('img/rightarrow.png');
				display:block;
				width: 20px;
				height: 15px;
				position: absolute;
			    top: 3px;
    			/*left: 70px;*/
    			right:5px;
				background-repeat: no-repeat;
				background-size: 10px;
			}
			.headernav__menu__item.headernav__menu__item--submenu:hover .headernav__menu__item__submenu{
				display:block;
			}
			.headernav__menu__item.headernav__menu__item--submenu > a{
				position: relative;
			}
				.headernav__menu__item.headernav__menu__item--submenu > a::after{
					content:"";
					width: 20px;
    				height: 20px;
					position: absolute;
					background-image:url('img/arrowdown.png');
					background-repeat:no-repeat;
				    top: 14px;
   					right: -13px;
				}
				.headernav__menu__item > a{
					font-weight:bold;
					position:relative;
					color:white;
					padding:10px;
					font-size:13px;
					opacity:0.8;
				}
					.headernav__menu__item > a:hover{
						opacity:1;
					}
				.headernav__menu__item__submenu{
					display:none;
					width: 240px;
					position:absolute;
				    top: 45px;
    				left: -39px;
					background-color:#f6f9fc;
					padding: 10px 15px;
					border-radius:5px;
					text-transform:initial;
					font-weight:bold;
					text-align:left;
					font-size:20px;
					color:grey;
				}
				.headernav__menu__item__submenu::before{
					content:"";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid #f6f9fc;
					position: absolute;
					top: -10px;
					left: 120px;
				}
					.headernav__menu__item__submenu ul{
						padding:0;
						text-align: center;
					}
						.headernav__menu__item__submenu li{
							padding:15px;
							border-bottom:1px solid grey;
						}
						.headernav__menu__item__submenu li:last-child{
							border-bottom:none;
						}
							.headernav__menu__item__submenu li a{
								color:#47495a;
								padding-left:40px;
							}
							.headernav__menu__item__submenu .submenu--about{
								background:url('img/about-us-hover.png')no-repeat;
								background-size:25px !important;
								background-position: 0px 12px;
							}
							.headernav__menu__item__submenu .submenu--jobs{
								background:url('img/jobs-hover.png')no-repeat;
								background-size:23px !important;
								background-position: 0px 11px;
							}
							.headernav__menu__item__submenu .submenu--blog{
								background:url('img/blog-hover.png')no-repeat;
								background-size:25px !important;
								background-position:0px 15px;
							}
.hero{
	padding: 150px 50px 900px 50px;
	position: relative;
    z-index: 1;
    background:url("img/cityillustration.png") no-repeat center 400px, radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
}
	.hero__title{
		color:white;
		text-align:center;
		max-width: 1200px;
		margin:0 auto;
		padding-bottom:30px;
		text-transform: uppercase;
		font-size: 24px;
	}
	.hero__subtitle{
		color:white;
		text-align:center;
		font-size:16px;
		padding-bottom:30px;
		max-width: 1200px;
		margin:0 auto;
		font-size: 20px;
	}
	.hero__form{
		margin:0 auto;
		text-align:center;
		max-width: 1200px;
		margin:0 auto;
	}
		.hero .signupform__field{
			color:white;
			border-radius: 5px;
			border:none;
			background: rgba(255,255,255,.2);
			margin-right: 10px;
			height: 40px;
		    padding: 5px 0px;
		    text-indent:10px;
		    width: 260px;
		} 
			::-webkit-input-placeholder {
				color: #fff;
			}
			::-moz-placeholder {
				color: #fff;
			}
			:-ms-input-placeholder {
				color: #fff;
			}
			:-moz-placeholder {
				color: #fff;
			}
	.hero__bottompicture{
		max-width:1200px;
		margin:0 auto;
	}

.hpadvantages{
	background-color:#f0f4f7;
	text-align:center;
    font-size:14px;
    padding-bottom:0;
}

	.hpadvantages__container{
		max-width: 1200px;
	    background-color:#fff;
	    margin: 0 auto;
	    position:relative;
	    margin-top:-150px;
	    z-index:2;
	    border-radius:5px;
	    box-shadow: 0px 2px 2px #eef1f2;
	    padding:20px;
	}
	.hpadvantages__container__item{
		width:33%;
		/*display:inline-block;*/
		text-align:initial;
		position:relative;
		line-height:25px;
		padding:20px;
		box-sizing:border-box;
		float:left;

	}
		.hpadvantages__container__item h3{
			margin-top:100px;
			font-size: 20px;
		}
		.hpadvantages__container__item p{
			color:grey;
			font-size: 18px;
		}
			.hpadvantages__container__item h3::before{
				content:" ";
				background-repeat: no-repeat;
				height:30px;
				width:30px;
				display:block;
				position:absolute;
				top:30px;
				left:15px;
			}
			.hpadvantages__container__item--journey h3::before{
				background-image:url("img/compass.svg");
			}
			.hpadvantages__container__item--answers h3::before{
				background-image:url('img/chat.svg');
			}
			.hpadvantages__container__item--insights h3::before{
				background-image:url('img/check.svg');
			}
		.separator{
			height: 2px;
		    margin:30px 0;
		    width: 975px;
		    background-color: #ecf1f4;
		    margin-left: 40px;
		}
	.hpadvantages__container__item--scale{
		display:table;
		width:100%;
		float: none;
    	clear: left;
	}
		.hpadvantages__container__item--scale h3{
			width:40%;
			display:table-cell;
		}
		.hpadvantages__container__item--scale p{
		    width:40%;
		    display:table-cell;
		}

.hpproducts{
	position:relative;
	/*background-color:#f0f4f7;*/
	padding-top:150px;
	/*background: url("img/laptopIllustration.png") center 80px no-repeat;*/
	/*background-color:#f0f4f7;*/
	background-size:1000px;
	background:url('img/laptopIllustration.png') center 80px no-repeat, linear-gradient(to bottom,#f0f4f7 0,#fff 49%,#fff 100%);


}
	.hpproductscontainer{
		max-width:1200px;
		margin:0 auto;
	    padding-left: 600px;
	    box-sizing:border-box;
	}
	.hpproducts__intro{
	    border-bottom: 2px solid #edf4f9;
	    margin-bottom:70px;
	    padding-bottom:70px;
	    font-size:18px;
	}
		.hpproducts__intro small{
			color:#6b7c93;
			font-weight:bold;
			text-transform:uppercase;
			padding-bottom: 15px;
    		display: block
		}
		.hpproducts__intro p{
			color:#47495a;
			line-height: 25px;
			font-size:24px;

		}
	.hpproducts__content{
    	padding-left:150px;
    	padding-bottom:100px;
	}
		.hpproducts__content__item{
			padding-bottom: 40px;
			font-size:18px;
		}
		.hpproducts__content__item h3{
			/*text-align:right;*/
			position:relative;
		}
			.hpproducts__content__item h3::before{
				content:"";
				background-repeat: no-repeat;
				display:block;
				height:40px;
				width:40px;
				position:absolute;
				left: -45px;
    			top: -13px;

			}
			.hpproducts__content__item--understand > h3::before{
				background-image:url("img/eye.svg");
			}
			.hpproducts__content__item--acquisition h3::before{
				background-image:url("img/grow.svg");
			}
		.hpproducts__content__item--revenu{
			padding-bottom:50px;
		}
			.hpproducts__content__item--revenu h3::before{
				background-image:url("img/revenue.svg");
			}
			.hpproducts__content__item p{
				color:#6b7c93;
			}
			.hpproducts__content__item__keywords{
				color:black;
			}

.hpcustomers{
	background-color:#2b0c93;
	background-image: url('img/home-customer-background.svg');
}
	.hpcustomers__wallpaper{
		height:120px;
		position: absolute;
	    left: -150px;
	    width: 1400px;
		background-repeat: no-repeat;
	}
	.hpcustomers__list{
    	margin: 0 auto;
    	text-align:center;
	}
		.hpcustomers__list__item{
			height:90px;
			width:90px;
			border-radius:50%;
			background-color:white;
			margin:0 10px;
			display:inline-block;
		    position: relative;
    		overflow: hidden;
		}
			.hpcustomers__list__item img{
				position: absolute; 
			    left: 0; 
			    right: 0; 
			    margin-left: auto; 
			    margin-right: auto; 
			    width: 100%;
			}
			.logo-ny{
				top:37px;
			}
			.logo-microsoft{
				top:34px;
			}
			.logo-docusign{
				top:34px;
			}
			.logo-intuit{
				top:24px;
			}

.hpcorporate{
	background-color:white;
	background: linear-gradient(to bottom,#f0f4f7,#fff) no-repeat;
	/*padding:0px 0 20px 50px;*/
	padding:0;
}

		/*** Tabpanels ***/
		.tabpanels__container__nav{
			width:30%;
			padding:100px 0 200px 0px;
			margin-right:30px;
			margin-left:10%;
		}
		.tabpanels__container__nav--mobile{
			display: none;
		}
		.tabpanels__container__panels{
			width:60%;
		}
			.tabpanels{
				display:flex;
				box-sizing:border-box;
			}
				.tabpanels__nav{

				}
					.tabpanels__nav li{
						max-width: 300px;
						margin-bottom: 20px;

					}
						.tabpanels__nav__btn a{
							padding:15px;
							color:black;
							display:block;
							border-radius:5px;
							font-weight:bold;
							position:relative;
							/*text-indent:60px;*/
							padding-left:80px;
						}
						.tabpanels__nav__btn a::before{
							content:"";
							background-repeat:no-repeat;
							display: block;
							height:40px;
							width:40px;
							position:absolute;
							top:2px;
							left:5px;
						}
							.tabpanels__nav__btn--selected{
								background-color:#fff;
								box-shadow: 0px 2px 2px #eef1f2;
							}
							.tabpanels__nav__btn--events::before{
								background:url("img/events.png");
							}
							.tabpanels__nav__btn--ebooks::before{
								background:url("img/ebooks.png");
							}
							.tabpanels__nav__btn--blog::before{
								background:url("img/blog.png");
							}
							.tabpanels__nav__btn--news::before{
								content:"";
								background:url("img/news.png");
								background-repeat:no-repeat;
								display: block;
								height:20px;
								width:20px;
							}
				.tabpanels__panel{
					flex-grow:1;
					background-color:#fff;
					padding:100px 0 0 30px;
					height:100%;
				}
				/*#events,*/
				#ebooks,
				#blog,
				#news{
					display:none;
				}
				.events__carouselbox__content__item{
					box-shadow: 0px 3px 5px #aeb1b2;
					padding-bottom:30px;
					width:80%;
					color:#8d9aac;
					border-radius:5px;
				}
				.events__carouselbox__content__item{
					display:none;
				}
				.events__carouselbox__content li:first-child{
					display:block;
				}
					.events__carouselbox__content__item img{
						width:100%;
						display:block;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
					}
					.events__carouselbox__content__item div{
						display:inline-block;
						padding: 25px 10px 10px 65px;
						
					}

					.events__carouselbox__content__item div.events-durations{
						background:url('img/calendar.png') no-repeat 35px 22px;
					}
					.events__carouselbox__content__item div.events-places{
						background:url('img/location.png') no-repeat 35px 22px;
					}
					.events__carouselbox__content__item p{
						padding-left:35px;
					}
						.events__carouselbox__content__item p span{
							font-weight:bold;
							display:block;
							padding-bottom:15px;
							color:black;
						}
					.events__carouselbox__buttons{
						margin:0 auto;
						width:50%;
						text-indent: 65px;
						padding-top: 50px;
					}
						.events__carouselbox__buttons__item{
							background-color:#e2ebf1;
							width:10px;
							height:10px;
							margin:5px;
							display:inline-block;
							text-align:center;
							border-radius:50%;
							cursor:pointer;
						}	
							.events__carouselbox__buttons .selected{
								background-color:#00b4ff;
							}
				#blog figure{
					width:80%;
				}
					#blog figure img{
						width:100%;
						max-height:300px;
					}
						#blog figure p{
							margin:20px 0;
							color:#47495a;
							font-size:24px;
						}
						#blog figure a{
							color:#1681dc;
							font-size:22px;
							font-weight:bold;
							
						}			
		/*** Contact ***/
		.hpcorporate__contact{
			/*background-color:#fff;*/
			padding: 40px 50px;
			position:relative;
			max-width: 1200px;
    		margin: 0 auto;
		}
			.hpcorporate__contact p{
				border-top: 2px solid #f1f7fb;
    			padding: 30px 0;
				color:#6b7c93;
			}
				.hpcorporate__contact span{
					font-weight:bold;
				}
			.hpcorporate__contact__btn{
				margin-top:-50px;
				text-align:right;
			}
.footer{
	background-color:#f0f4f7;
	padding:20px 50px;
}
	.footercontainer{
		margin:0 auto;
		max-width:1200px;
		padding-bottom:40px;
	}
		.footernav{
			display:flex;
			padding-bottom: 40px;
		}
			.footernav__group{
				flex-grow:1;
			}
			.footernav__group--products-list ul{
				margin:0 15px;
			}	
				.footernav__group__title{
					padding:50px 0 20px 0;
					font-weight: bold;
    				font-size: 22px;
				}
				.footernav__group__list{
					padding-left:0;
					display: inline-block;
				}
					.footernav__group__list__item{
						padding:10px 15px 10px 0;
					}
					.footernav__group--products-list-item{
						display:inline-block;
					}
						.footernav__group__list__item--app{
							display:inline-block;
						}
				.footernav__group__title__socialMedia{
					white-space:nowrap;
				}		
					.footernav__group__title__socialMedia .footernav__group__list__item{
						background-color:#fff;
						padding: 8px 9px 3px 8px;
						border-radius:50%;
						white-space: nowrap;
					}
		.footerapp{
			padding-top: 40px;
    		border-top: 1px solid #d2dde6;
		}
		.footerlegal{
			text-align: right;
    		margin-top: -24px;
		}
			.footerlegal li{
				display:inline-block;
				padding:0 5px;
			}

@media only screen and (max-width: 1120px) {
	/**Hero  **/
	.hero{
		background:url("img/hero-imageRogner (2).png") no-repeat center 400px, radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
	}

	/** Products **/
	.hpproducts{
		padding-top: 510px;
		background:url('img/laptopIllustrationMobile.png') center 100px no-repeat, linear-gradient(to bottom,#f0f4f7 0,#fff 49%,#fff 100%);
		background-color: #f0f4f7;
	}
		.hpproductscontainer{
			padding-left:0 !important;

		}
			.hpproducts__intro{
				text-align:center;
				margin:0 auto;
			}
			.hpproducts__content{
				max-width:none;
				padding-left: 0;
				text-align:center;
				/*border-top: 2px solid #6b7c93;*/
			}
				.hpproducts__content__item{
					width:33%;
					padding:20px;
					display:inline-block;
					text-align:left;
				    float: left;
					box-sizing: border-box;
				}
					.hpproducts__content__item h3{
						padding-left:50px;
						font-size:20px;
					}
					.hpproducts__content__item h3:before{
						left:0;
						top:0;
					}
	/** Footer **/
	.footernav__group{
		margin:0 10px;
	}

}

@media only screen and (max-width: 780px) {
	.headernav{
		/*position:relative;*/
	}
		.headernav__menu{
			display:none;
		}
		.headernav__burgermenu{
			display:block;
			margin-top: 18px;
			cursor:pointer;
		}
		.headernav__burgermenu.open + .headernav__menu{
			display:block;
		}

		.headernav__menu{
		    background-color: white;
	    	position: absolute;
	    	right:0px;
	    	top:80px;
	    	width: 100%;
	    	text-align:center;
		}
			.headernav__menu::before {
			    content: "";
			    width: 0;
			    height: 0;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			    border-bottom: 10px solid #f6f9fc;
			    position: absolute;
			    top: -10px;
			    right:50px;
			}
			.headernav__menu li{
			    display:block;
			    text-align:left;
			    padding-left:0;
			    padding-top: 20px;
    			padding-bottom: 20px;
			    border-bottom:1px solid black;
			}
			.headernav__menu__item--signup{
				padding: 0 0 0 10px;
			    margin-left: 50px;
			    border-bottom:none !important;
			}
				.headernav__menu li a{
				    color:black;
				    padding-right: 20px;
				    padding-left:50px;
				}
				.headernav__menu__item.headernav__menu__item--submenu:hover .headernav__menu__item__submenu{
					display:none;
				}
				.submenu-visible .headernav__menu__item__submenu{
					display:block !important;
				}
				.headernav__menu__item__submenu{
					width:initial !important;
					position:initial !important;
					margin-top:10px;
				}
					.headernav__menu__item__submenu:before{
						content:none;
					}
				.headernav__menu__item--submenu{
					padding-right:0 !important;
					/*padding-bottom:0 !important;*/
				}
					.headernav__menu__item--submenu > a:after{
					content: "";
				    width: 13px !important;
				    height: 13px !important;
				    position: absolute;
				    background-image: url(img/menu-arrow-active.svg) !important;
				    background-repeat: no-repeat;
				    top: 13px !important;
				    right: 0px !important;
				}
			.headernav__menu__item__submenu .submenu--about{
				background-position: 0px 18px;
			}
			.headernav__menu__item__submenu .submenu--jobs{
				background-position: 0px 15px;
			}
			.headernav__menu__item__submenu .submenu--blog{
				background-position: 0px 20px;
			}

				

	/**Hero **/
	
	.hero{
		background:radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
		padding-bottom:200px !important;
	}
		.hero__form input{
			width:100% !important;
			margin:10px 0;
		}
	/** Advantages **/
	.hpadvantages{
		background-color:white;
	}
		.hpadvantages__container{
			box-shadow:none;
		}
			.hpadvantages__container__item {
				width:100% !important;
				padding: 0 0 50px 0 !important;
			}
				.hpadvantages__container__item h3{
					margin-top:10px !important;
					padding-left:80px !important;
				}
					.hpadvantages__container__item h3::before{
						top:5px !important;
						height:35px;
						width:35px;
					}
				.hpadvantages__container__item p{
					padding-left:80px !important;
				}
			.hpadvantages__container__item--scale{
				width:100% !important;
			}
				.hpadvantages__container__item--scale h3,
				.hpadvantages__container__item--scale p{
					display:block !important;
					width:auto;
					padding-right:0;
					text-align:center;
					padding-left:0 !important;
				}


	/** Products **/
	.hpproducts{
		background:none;
		padding-top:30px;
		background-color: #fff;
	}
	.hpproducts__intro{
		border:none;
	}
		.hpproducts__intro small{
			display:none;
		}
		.hpproducts__intro p{
			text-align:left;
		}
		.hpproducts__content__item{
			width:100%;
		}
			.hpproducts__content__item h3{
				padding-left:0px;
				font-size:20px;
			}
				.hpproducts__content__item h3:before{
				    left: -50px;
    				top: -10px;
				}
	/** Customers **/
	.hpcustomers__list__item{
			height:70px;
			width:70px;
			margin:0 5px;
	}
		.logo-microsoft {
		    top: 25px;
		}
		.logo-docusign{
			top:25px;
		}
		.logo-intuit{
			top:17px;
		}

	/** Corporate News**/
	.tabpanels{
		display:block;
	}

	.tabpanels__container__nav{
			display: none;
		}
	.tabpanels__container__nav--mobile{
		display:block;
        padding: 40px 20px;
		text-align: center;
		width: 80%;
    	margin: 0 auto;

	}
		.tabpanels__nav__select{
			/*margin: 0 10px;*/
		    width: 100%;
		    background-color: #fff;
		    background-repeat: repeat-x;
		    border-radius: 5px;
		    -moz-background-clip: padding;
		    -webkit-background-clip: padding-box;
		    background-clip: padding-box;
		    font-size: 1.2rem;
		    padding: 5px;
		    line-height: inherit;
		    border: none;
		    font-weight: 100;
		    outline: 0;
		    color: #3e3e3e;
		    text-align: left;
		    display: inline-block;
		    cursor: pointer;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
			box-shadow: 0px 2px 2px #9fa3a4;
			padding:10px 0 10px 25px;
		}
		.tabpanels__nav__select__wrapper{
			position:relative;
		}
			.tabpanels__nav__select__wrapper::after{
				content:"";
				background-image: url(img/menu-arrow-active.svg);
			    background-repeat:no-repeat;
			    display:block;
			    top: 20px;
	    		right: 20px;
			    position:absolute;
			    height:20px;
			    width:20px;
			}
		.tabpanels__container__panels {
		    width: 80%;
		    margin: 0 auto;
		}
			.tabpanels__panel{
				padding-left:0;
				padding-top:0;
			}
			.events__carouselbox__content__item{
				width:100%;
			}
		.events__carouselbox__buttons{
			text-align: center;
			text-indent:initial;		
		}
	/** Corporate contact **/
	.hpcorporate__contact__btn{
		margin-top:0;
	}
		.hpcorporate__contact p{
			text-align:center;
		}
		.hpcorporate__contact__btn .btn--contact{
			display:block;
			text-align:center;
		}
	/** Footer **/
	.footer{
		padding:20px 40px;
	}
	.footernav{
		display:block;
	}
		.footercontainer{
			/*text-align:center;*/
		}
		.footernav__group {
		    width: 40%;
		    display: inline-block;
		    text-align:left;
		    /*margin: 0 10px !important;*/
		    margin: 0 15px !important;
		}
		.footernav__group--products-list{
			width:100%;
		}
		.footernav__group--products-list ul{
			width:45% !important;
			margin:0;
		}
		.footernav__group__list__item > a{
			white-space:nowrap;
		}
	.footerapp{
		text-align:center;
	}
	.footerlegal{
		text-align:center;
		margin-top:30px;
	}


}			

	
