/* Reset CSS */
ul{
	list-style:none;
	margin:0;
	padding-left:0;
}
a{
	text-decoration:none;
}
p{
	margin:0;
}
body{
	font-family:arial;
}
/*body{
	overflow-x:hidden;
	margin:0 auto;
	background-color:#fcfdfd;
	width:100%;
}*/
body>*,
section {  
	/*outline:2px solid red;*/
}

section{
	padding:20px 50px;
}

/* Reset CSS */


/* STATES */
.btn{
	border:none;
	padding: 10px 30px;
	border-radius:5px;
	text-transform:uppercase;
	color:white;
}
	.btn:hover{
		cursor:pointer;
	}
	.btn--signup{
		background-color:#00b4ff;
		padding-left: 15px;
	}
	.btn--submit{
		background-color:#f88379;
		height: 50px;
    	/*padding: 5px 10px;*/
	}
	.btn--contact{
		background-color:#00b4ff;
	}
	.btn--app{
		background-color:black;
		color:white;
		display:inline;
	}
/* STATES */


header{
	font-size:11px;
	position: absolute;
    top: 0;
    left:0;
    right:0;
    max-width: 1180px;
    margin:0 auto;
	background-color:transparent;
	z-index:2;
    padding: 20px 50px;
    /*display:flex;*/
}
	.headerlogo{
		/*float:left;*/
	}
		.headerlogo h2{
			margin:0;
			/*border:3px solid pink;*/
		}
	.headernav{
		text-align:right;
		float:right;
		margin-top:-40px;
	}
		.headernav__burgermenu{
			display:none;
		}
			.headernav__burgermenu span{
				height: 2px;
			    width: 20px;
			    background-color: white;
			    display: block;
			    margin: 5px 0;
			}
			.headernav__menu__item{
				display:inline-block;
				text-transform:uppercase;
				padding-left:30px;
			}
			.headernav__menu__item--submenu{
				position:relative;
			}
			.headernav__menu__item--signup{
				position:relative;
				margin-right:0;
			}
			.headernav__menu__item--signup::after{
				content:"";
				background-image:url('img/rightarrow.png');
				display:block;
				width: 20px;
				height: 15px;
				position: absolute;
			    top: 3px;
    			/*left: 70px;*/
    			right:5px;
				background-repeat: no-repeat;
				background-size: 10px;
			}
			.headernav__menu__item.headernav__menu__item--submenu:hover .headernav__menu__item__submenu{
				display:block;
			}
			.headernav__menu__item.headernav__menu__item--submenu > a{
				position: relative;
			}
				.headernav__menu__item.headernav__menu__item--submenu > a::after{
					content:"";
					width: 20px;
    				height: 20px;
					position: absolute;
					background-image:url('img/arrowdown.png');
					background-repeat:no-repeat;
					top:5px;
					right:-25px;
				}
				.headernav__menu__item > a{
					font-weight:bold;
					position:relative;
					color:white;
					/*padding-left:30px;*/
				}
				.headernav__menu__item__submenu{
					display:none;
					width: 240px;
					position:absolute;
				    top: 30px;
    				left: -26px;
					background-color:#f6f9fc;
					padding: 10px 15px;
					border-radius:5px;
					text-transform:initial;
					font-weight:bold;
					text-align:left;
				}
				.headernav__menu__item__submenu::before{
					content:"";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid #f6f9fc;
					position: absolute;
					top: -10px;
					left: 120px;
				}
					.headernav__menu__item__submenu ul{
						padding:0;
						text-align: center;
					}
						.headernav__menu__item__submenu li{
							padding:15px;
							border-bottom:1px solid grey;
						}
						.headernav__menu__item__submenu li:last-child{
							border-bottom:none;
						}
							.headernav__menu__item__submenu li a{
								color:#6d495a;
								padding-left:50px;
							}
							.headernav__menu__item__submenu .submenu--about{
								background:url('img/about-us-hover.png')no-repeat;
								background-size:25px !important;
								background-position: 0px 10px;
							}
							.headernav__menu__item__submenu .submenu--jobs{
								background:url('img/jobs-hover.png')no-repeat;
								background-size:23px !important;
								background-position: 0px 8px;
							}
							.headernav__menu__item__submenu .submenu--blog{
								background:url('img/blog-hover.png')no-repeat;
								background-size:25px !important;
								background-position:0px 13px;
							}
.hero{
	padding: 150px 50px 900px 50px;
	position: relative;
    z-index: 1;
    background:url("img/hero-image.png") no-repeat center 400px, radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
}
	.hero__title{
		color:white;
		text-align:center;
		max-width: 1200px;
		margin:0 auto;
		padding-bottom:30px;
	}
	.hero__subtitle{
		color:white;
		text-align:center;
		font-size:16px;
		padding-bottom:30px;
		max-width: 1200px;
		margin:0 auto;
	}
	.hero__form{
		/*width:400px;*/
		margin:0 auto;
		text-align:center;
		max-width: 1200px;
		margin:0 auto;
	}
		.hero .signupform__field{
			color:white;
			/*padding: 10px 25px;*/
			border-radius: 5px;
			border:none;
			background-color:#3a6fb2;
			margin-right: 10px;
			height: 40px;
		    padding: 5px 0px;
		    text-indent:10px;
		    width: 260px;
		} 
			::-webkit-input-placeholder {
				color: #fff;
			}
			::-moz-placeholder {
				color: #fff;
			}
			:-ms-input-placeholder {
				color: #fff;
			}
			:-moz-placeholder {
				color: #fff;
			}
	.hero__bottompicture{
		max-width:1200px;
		margin:0 auto;
	}

.hpadvantages{
	background-color:#f0f4f7;
	text-align:center;
    font-size:14px;
    padding-bottom:0;
}

	.hpadvantages__container{
		max-width: 1200px;
	    background-color:#fff;
	    margin: 0 auto;
	    position:relative;
	    margin-top:-150px;
	    z-index:2;
	    border-radius:5px;
	    box-shadow: 0px 2px 2px #eef1f2;
	    padding:20px;
	}
	.hpadvantages____container__item{
		width:25%;
		display:inline-block;
		text-align:justify;
		position:relative;
		line-height:25px;
		padding:20px;

	}
		.hpadvantages____container__item h3{
			margin-top:100px;
		}
		.hpadvantages____container__item p{
			color:grey;
		}
			.hpadvantages____container__item h3::before{
				content:" ";
				background-repeat: no-repeat;
				height:30px;
				width:30px;
				display:block;
				position:absolute;
				top:30px;
				left:15px;
			}
			.hpadvantages____container__item--journey h3::before{
				background-image:url("img/compass.svg");
			}
			.hpadvantages____container__item--answers h3::before{
				background-image:url('img/chat.svg');
			}
			.hpadvantages____container__item--insights h3::before{
				background-image:url('img/check.svg');
			}
		.separator{
			height: 2px;
		    margin:30px 0;
		    width: 975px;
		    background-color: #ecf1f4;
		    margin-left: 40px;
		}
	.hpadvantages____container__item--scale{
		display:table;
		width:100%;
		padding:30px 0;
	}
		.hpadvantages____container__item--scale h3{
			width:40%;
			display:table-cell;
			padding-left:100px;
		}
		.hpadvantages____container__item--scale p{
		    width:40%;
		    display:table-cell;
		    padding-right:100px;


		}

.hpproducts{
	background-position: -20px 160px;
	position:relative;
	background-color:#f0f4f7;
	padding-top:150px;
	background-image:url("img/laptopIllustration.png");
	background-repeat:no-repeat;
}
	.hpproductscontainer{
		max-width:1200px;
		margin:0 auto;
	    padding-left: 600px;
	}
	.hpproducts__intro{
	    border-bottom: 2px solid #edf4f9;
	    margin-bottom:70px;
	    padding-bottom:70px;
	    max-width:600px;
	}
		.hpproducts__intro small{
			color:#6b7c93;
			font-weight:bold;
			text-transform:uppercase;
			padding-bottom: 15px;
    		display: block
		}
		.hpproducts__intro p{
			color:#47495a;
			font-weight:bold;
		}
	.hpproducts__content{
    	max-width:400px;
    	padding-left:150px;
	}
		.hpproducts__content__item{
			
		}
		.hpproducts__content__item h3{
			/*text-align:right;*/
			position:relative;
		}
			.hpproducts__content__item h3::before{
				content:"";
				background-repeat: no-repeat;
				display:block;
				height:20px;
				width:20px;
				position:absolute;
				left:-40px;
			}
			.hpproducts__content__item--understand > h3::before{
				background-image:url("img/eye.svg");
			}
			.hpproducts__content__item--acquisition h3::before{
				background-image:url("img/grow.svg");
			}
		.hpproducts__content__item--revenu{
			padding-bottom:50px;
		}
			.hpproducts__content__item--revenu h3::before{
				background-image:url("img/revenue.svg");
			}
			.hpproducts__content__item p{
				text-align:justify;
			}

.hpcustomers{
	background-color:#2b0c93;
	background-image: url('img/home-customer-background.svg');
}
	.hpcustomers__wallpaper{
		height:120px;
		position: absolute;
	    left: -150px;
	    width: 1400px;
		background-repeat: no-repeat;
	}
	.hpcustomers__list{
	    width: 800px;
    	margin: 0 auto;
    	text-align:center;
	}
		.hpcustomers__list__item{
			height:100px;
			width:100px;
			border-radius:50%;
			background-color:white;
			margin:0 10px;
			display:inline-block;
		    position: relative;
    		overflow: hidden;
		}
			.hpcustomers__list__item img{
				position: absolute; 
			    left: 0; 
			    right: 0; 
			    margin-left: auto; 
			    margin-right: auto; 
			    width: 100px;
			}
.hpcoporate{
	background-color:white;
	background: linear-gradient(to bottom,#f0f4f7,#fff) no-repeat;
	padding:0px 0 20px 50px;
}

		/*** Tabpanels ***/
		.tabpanels__container__nav{
			width:30%;
			padding:50px 0 0 50px;
			margin-right:30px;
		}
		.tabpanels__container__panels{
			width:70%;
		}
			.tabpanels{
				display:flex;
			}
				.tabpanels__nav{
					/*padding:100px 100px 0 40px;*/
				}
					.tabpanels__nav li{
						margin:20px 0;
					}
						.tabpanels__nav__btn a{
							padding:10px;
							color:black;
							display:block;
							border-radius:5px;
							font-weight:bold;
						}
							.tabpanels__nav__btn--selected{
								background-color:#fff;
								box-shadow: 0px 2px 2px #eef1f2;
							}
				.tabpanels__panel{
					flex-grow:1;
					background-color:#fff;
					padding:50px 0 0 30px;
					height:100%;
				}
				#ebooks,
				#blog,
				#news{
					display:none;
				}
		/*** Contact ***/
		.hpcoporate__contact{
			background-color:#fff;
			padding: 40px 50px;
			position:relative;
		}
			.hpcoporate__contact p{
				border-top: 2px solid #f1f7fb;
    			padding: 30px 0;
				color:#6b7c93;
			}
				.hpcoporate__contact span{
					font-weight:bold;
				}
			.hpcoporate__contact__btn{
				margin-top:-50px;
				text-align:right;
			}
.footer{
	background-color:#f0f4f7;
	padding:20px 50px;
}
	.footercontainer{
		margin:0 auto;
		max-width:1200px;
		padding-bottom:40px;
	}
		.footernav{
			display:flex;
			padding-bottom: 40px;
		}
			.footernav__group{
				flex-grow:1;
			}
			.footernav__group--products-list ul{
				margin:0 15px;
			}	
				.footernav____group__title{
					padding:50px 0 20px 0;
				}
				.footernav__group__list{
					padding-left:0;
					display: inline-block;
				}
					.footernav__group__list__item{
						padding:10px 15px 10px 0;
					}
					.footernav__group--products-list-item{
						display:inline-block;
					}
						.footernav__group__list__item--app{
							display:inline-block;
						}
		.footerapp{
			padding-top: 40px;
    		border-top: 1px solid #d2dde6;
		}
		.footerlegal{
			text-align: right;
    		margin-top: -24px;
		}
			.footerlegal li{
				display:inline-block;
				padding:0 5px;
			}

@media only screen and (max-width: 1120px) {
	/*body{
		display:none;
	}*/

	/** Products **/
	.hpproducts{
		background-position:center 100px;
		background-size:400px;
		padding-top:450px;
	}
		.hpproductscontainer{
			padding-left:0 !important;
		}
			.hpproducts__intro{
				text-align:center;
				margin:0 auto;
			}
			.hpproducts__content{
				max-width:none;
				padding-left: 0;
				text-align:center;
				border-top: 2px solid #6b7c93;
			}
				.hpproducts__content__item{
					width:25%;
					padding:20px;
					display:inline-block;
					text-align:left;
				}


}

@media only screen and (max-width: 760px) {
	.headernav__menu{
		display:none;
	}
	.headernav__burgermenu{
		display:block;
	}

	/**Hero **/
	
	.hero{
		background:radial-gradient(ellipse farthest-side at 100% 100%,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
		padding-bottom:200px !important;
	}
		.hero__form input{
			width:100% !important;
			margin:10px 0;
		}
	/** Advantages **/
	.hpadvantages____container__item {
		width:100% !important;
		padding: 0 0 50px 0 !important;
	}
		.hpadvantages____container__item h3{
			margin-top:10px !important;
			padding-left:80px !important;
		}
			.hpadvantages____container__item h3::before{
				top:5px !important;
			}
		.hpadvantages____container__item p{
			padding-left:80px !important;
		}
	.hpadvantages____container__item--scale{
		width:100% !important;
	}
		.hpadvantages____container__item--scale h3,
		.hpadvantages____container__item--scale p{
			display:block !important;
			width:auto;
			padding-right:0;
			text-align:center;

		}
	/** Products **/
	.hpproducts__content__item{
		width:100%;
	}

}			

	
